section.carrousel
	.carrousel__container 
		+itemCarrousel("https://images.pexels.com/photos/8680266/pexels-photo-8680266.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260", "imagen de una flor")
		+itemCarrousel("https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260", "imagen de una montaña")
		+itemCarrousel("https://images.pexels.com/photos/235621/pexels-photo-235621.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260", "imagen de un bosque")
		+itemCarrousel("https://images.pexels.com/photos/2775196/pexels-photo-2775196.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260", "imagen del mar")
		+itemCarrousel("https://images.pexels.com/photos/3484061/pexels-photo-3484061.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260", "imagen de un acantilado")
		+itemCarrousel("https://images.pexels.com/photos/2923595/pexels-photo-2923595.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260", "imagen del desierto")
		+itemCarrousel("https://images.pexels.com/photos/1591373/pexels-photo-1591373.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260", "imagen de la playa")
		+itemCarrousel("https://images.pexels.com/photos/5219233/pexels-photo-5219233.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260", "imagen de icebergs")
		+itemCarrousel("https://images.pexels.com/photos/4636525/pexels-photo-4636525.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260", "imagen de un arcoiris en el mar")
		+itemCarrousel("https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&h=750&w=1260", "imagen arbol con atardecer morado")