-var usuario ="Juan Diego"
-var inicioSesion = "true"

meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="description" content="Recreando inicio de sesión de platzi video con pug")
link(rel="stylesheet", href="../sass/main.css")
title Platzi Video