doctype
html(lang="es")
    head
        include componentes/mixin.pug
        include componentes/head.pug
    body
        include componentes/header.pug 
        include plantilla.pug
        include componentes/footer.pug
        script(src="../js/main.js") 