
if (usuario)
    include componentes/buscador.pug
    h2.title__carrousel Tus peliculas favoritas
    include componentes/carrousel.pug
    h2.title__carrousel Recomendados para ti
    include componentes/carrousel.pug
    h2.title__carrousel Originales de platzi Video
    include componentes/carrousel.pug
    
else 
    include componentes/sesion.pug
