.footer {
    width: 100%;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    a {
        font-size: 1.4rem;
        font-family: $fuente1;
        text-decoration: none;
        color: $colorClaro;
        margin-left: 15px;
    }
    a:hover {
        text-decoration: underline;
    }
}