.container-error {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $colorClaro;
    &__number {
        font-family: $fuente1;
        font-size: 10rem;
        transition: 200ms;
        cursor: pointer;
    }
    &__number:hover {
        font-size: 15rem;
    }
    &__description {
        font-size: 1.6rem;
    }
}